.body-login {
    background: rgb(10,142,112);
    background: linear-gradient(90deg, rgba(10,142,112,0.9416141456582633) 0%, rgba(25,40,224,0.9920343137254902) 61%, rgba(153,130,136,1) 100%);
    padding-left:20px;
    width: 100vw;
    min-height: 100vh;
}
.loggin_page {
    padding:25px;
    margin: 30px;
}
.title-login {
    color: aliceblue;
    margin:1px;
    padding-top:20px;
    margin-left: 50px;
}

.input-field input {
    color: rgba(248, 248, 248, 0.781);
}
#email { 
    text-transform: lowercase;
}
